// # Imports
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "variables";

@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/font-awsome/scss/font-awesome";

@import "vex/vex";
@import "vex/vex-theme-os";

// Sticky footer
@import "footer";

// Yeti Template
@import "yeti";


body {

  max-width: 100% !important;
}
// Custom
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  font-size: 16px;
}

.ad-box-400 {
  height: 400px;
  margin-bottom: 50px;

  &.about-ad-box-1 {
    margin-top: 74px;
  }
};

.ad-box-400-responsive {
  height: 400px;
}

.table {
  background: #fff;
}

.site-background {
  background: url(../image/site-background.jpg) 0 0/100% no-repeat;
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1;
  opacity: .3 ;
  border-bottom: 3px solid rgb(0, 63, 84);
  box-shadow: 0 0 10px 2px;
  outline: 2px solid #333;
}

.main-action-buttons {
}

.jumbotron h1{
  font-size: 43.5px;
}

.jumbotron {
  margin-bottom: 0;
  margin-top: 19px;
}

body>.container {
  padding-top: 0;
}

.email-content {
  word-wrap: break-word;
}

.read-email-btn {
  cursor: pointer;
}

@media (max-width: $screen-md) {

  .jumbotron h1{
    text-align: center;

    small { display: block }
  }

  .main-action-buttons {
    text-align: center;
  }

  .page-header h2 {
    text-align: center;
  }

  .btn-group {
    margin: auto;
    overflow: auto;
    width: 268px;
    padding: 10px;

    a {
      width: 100%;
      padding: 18px;
    }
  }

  .container {
    width: 100%;
  }
}

@media (max-width: $screen-sm) {
  .page-header h2 {
    font-size: 25px;
  }
}

@media (max-width: 512px) {

  .jumbotron h1{
    font-size: 31px;
  }


  .page-header h2 {
    font-size: 18px;
  }

  h1 {
    font-size: 28px;
  }

  .jumbotron p {
    font-size: 19px;
  }

  h3 {
    font-size: 16px;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-size: 12px;
  }
}

