@import "theme/font-awsome";
@import "theme/bootstrap";
@import "theme/bootstrap-responsive";
@import "theme/application";
@import "theme/ui-theme";

* {
  box-sizing: border-box;
}

#homepage-header {
  margin-top: 2em;
  margin-bottom: 3em;
  text-align: center;
}
#homepage-header h1 {
  margin-bottom: .65em;
  font-size: 40px;
  font-weight: 600;
}
#homepage-header h2 {
  color: #777;
  font-size: 24px;
  font-weight: 400;
}

h4.email-box {
  background: #eee;
  padding: 7px 27px;
  text-align: center;
  margin-bottom: 24px;
}

#swift-table-region {
  margin-top: 7px;
}

#header > .container {
  background-image: url(http://localhost:8000/media/image/logo.png);
  background-repeat: no-repeat;
}

.lead {
  font-size: 17px;
}

.btn-large.btn-secondary.get-started-btn {
  width: 76%;
  font-size: 22px;
  text-align: center;
  float: none;
  margin: 67px auto 0 auto;
  max-width: 288px;
  display: block;
}

.key-features {
  padding-left: 64px;
}

.faq-container .faq-list li .faq-number {
  line-height: 27px;
}

.modal {
  max-width: 770px;
  width: 100%;
  margin-left: -410px;

  .modal-header h4 {
    color: #fff;
  }
}

