{% extends "layout.html.twig" %}
    {% block preload_scripts %}
<script>
    var Server = {};
    Server.Visitor = {{ visitor.asJSON() | raw }};
    Server.streamerHost = 'http://swift10minutemail.com:8080';
</script>
{% endblock %}
{% block seo_header %}
    <meta name="keywords" content="temporary email address, disposable email, disposable mail, 10 minute mail">
    <meta name="description" content="swift 10 minute mail is disposable email service you can use to register to websites or use your temporary email address and prevent your real mail to become junkyard">
    <title>Swift 10 Minute Mail - Free Disposable Email Account</title>
{% endblock %}
{% block content %}
    <!-- Fixed navbar -->
    <!-- Begin page content -->
    <div class="container">
        <div class="right-ad-container">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- side ad - right -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4232269688571296"
                 data-ad-slot="6748042168"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="row">
            <div class="col-md-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- top homepage responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-4232269688571296"
                     data-ad-slot="5410909766"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <a href='http://google.com/' data-intro='Hello step one!'></a>
        <div class="jumbotron">
            <div class="page-header">
                <h1>Swift 10 Minute Email <small>Disposable Email Account</small></h1>
            </div>
            <p class="lead">
                This free service will provide you with disposable email address for short time, you are able to receive
                email in your temporary email inbox (UNLIMITED), your able to read the email as you would in your real mailbox !
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-7 col-xs-12">
                            <h2>
                                <strong class="active-email">{{ visitor.getEmail() }}@swift10minutemail.com</strong>
                            </h2>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 main-action-buttons">
                        <div class="btn-group">
                            <a href="" class="btn btn-primary" id="add_time">
                                Give me more time</a>
                        </div>
                        <div class="btn-group">
                            <a href="" class="btn btn-primary" id="change-address">
                                Change Address</a>
                        </div>
                        <div class="btn-group">
                            <a href="" class="btn btn-danger" id="custom-address">
                                Custom Address</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <h3>Your Swift Mail will be deleted in <strong><span id="time-minutes"></span> Minutes</strong></h3>

                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" id="visitor-time-progress"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div id="swift-table-region"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ad-box-responsive">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bottom homepage - responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-4232269688571296"
                     data-ad-slot="5271308964"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="change-address" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Email Content</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-content-region"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="guiders-modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Learn How To Use Your 10 Minute Mail</h4>
                </div>
                <div class="modal-body">
                    <div id="player"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
