{% extends "layout.html.twig" %}
{% block content %}
    <!-- Fixed navbar -->
    <!-- Begin page content -->
    <div class="container">
        <div class="right-ad-container">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- side ad - right -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4232269688571296"
                 data-ad-slot="6748042168"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="row">
            <div class="span12" style="text-align: center" >
                <a href="http://django576.194.a.clickbetter.com/" target="_blank">
                    <img src="http://www.bestbinaryoptionbrokers.net/images/nuts/726z90_1.jpg" width="726" height="90" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>{% trans %}Swift 10 Minute Email{% endtrans %} <small>{% trans %}Disposable Email Service{% endtrans %}</small></h1>
                </div>
                {% trans %}About Page Content{% endtrans %}
            </div>
            <div class="clearfix"></div>
            <br/><br/><br/>
            <div class="col-md-8">
                <h2>{% trans %}F.A.Q{% endtrans %}</h2>
                <hr/>
                <h4><strong>{% trans %}Does my disposable email is real address?{% endtrans %}</strong></h4>
                <p>
                    {% trans %}
                    Yes. all the email addresses
                    {% endtrans %}
                </p>
                <hr/>
                <h4><strong>{% trans %}It just 10 minutes?{% endtrans %}</strong></h4>
                <p>
                    {% trans %}
                    No, you can always extend
                    {% endtrans %}
                </p>
                <hr/>
                <h4><strong>{% trans %}How fast does my email will arrive?{% endtrans %}</strong></h4>
                <p>
                    {% trans %}
                    We use top technologies
                    {% endtrans %}
                </p>
            </div>
            <div class="col-md-4">
                <div class="ad-box-400 about-ad-box-1 hidden-sm hidden-xs">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- about page -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:336px;height:280px"
                         data-ad-client="ca-pub-4232269688571296"
                         data-ad-slot="2143045763"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="ad-box-responsive hidden-lg hidden-md">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- about page - responsive -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-4232269688571296"
                         data-ad-slot="3934176561"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/media/js/build/about.min.js"></script>
{% endblock %}
{% block templates %}{% endblock %}