{% extends "layout.html.twig" %}
    {% block preload_scripts %}
<script>
    var Server = {};
    Server.Visitor = {{ visitor.asJSON() | raw }};
    Server.streamerHost = 'http://swift10minutemail.com:8080';
</script>
{% block meta_tags %}
    <link rel="alternate" href="http://swift10minutemail.com" hreflang="en" />
    <link rel="alternate" href="http://de.swift10minutemail.com" hreflang="de" />
{% endblock %}
    {% endblock %}
{% block content %}
    <!-- Fixed navbar -->
    <!-- Begin page content -->
    <div class="container">
        <div class="right-ad-container">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- side ad - right -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4232269688571296"
                 data-ad-slot="6748042168"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="row">
            <div class="span12" style="text-align: center" >
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- top homepage -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-4232269688571296"
                     data-ad-slot="2597044161"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <a href='http://google.com/' data-intro='Hello step one!'></a>
        <div class="jumbotron">
            <div class="page-header">
                <h1>{% trans %}Swift 10 Minute Email{% endtrans %}<small> {% trans %}Disposable Email account{% endtrans %}</small></h1>
            </div>
            <p class="lead">
                {% trans %}
                This Free Service
                {% endtrans %}
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-7 col-xs-12">
                            <h2>
                                <strong class="active-email">{{ visitor.getEmail() }}@swift10minutemail.com</strong>
                            </h2>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 main-action-buttons">
                        <div class="btn-group">
                            <a href="" class="btn btn-primary" id="add_time">
                                {% trans %}Give me more time{% endtrans %}</a>
                        </div>
                        <div class="btn-group">
                            <a href="" class="btn btn-primary" id="change-address">
                                {% trans %}Change Address{% endtrans %}</a>
                        </div>
                        <div class="btn-group">
                            <a href="" class="btn btn-danger" id="custom-address">
                                {% trans %}Custom Address{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                {% trans %}
                Your Swift Mail Will be deleted
                {% endtrans %}
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" id="visitor-time-progress"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div id="swift-table-region"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ad-box-responsive">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bottom homepage - responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-4232269688571296"
                     data-ad-slot="5271308964"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="change-address" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Email Content{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-content-region"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="guiders-modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Learn How To Use Your 10 Minute Mail{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div id="player"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block templates %}
    <script type="text/html" id="swift-row">
        <td><%= id %></td>
        <td>
            <% if (fromName) { %>
            <strong><%= fromName %></strong> <small>&lt;<%= fromAddress %>&gt;</small>
            <% } else { %>
            <strong><%= fromAddress %></strong>
            <% } %>
        </td>
        <td><%= subject %></td>
        <td><%= created_formatted %></td>
    </script>
    <script type="text/html" id="swift-table">
        <table class="table table-bordered table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans %}From{% endtrans %}</th>
                <th>{% trans %}Subject{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </script>
    <script type="text/html" id="swift-table-empty">
        <td colspan="6">
            <h4 class="text-center">{% trans %}Your mail box is empty!{% endtrans %}</h4>
        </td>
    </script>
    <script type="text/html" id="modal-view">
        <!-- Modal -->
        <div class="modal fade" id="modal-layout-view" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Email Content{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab-email" aria-controls="home" role="tab" data-toggle="tab">{% trans %}Email{% endtrans %}</a></li>
                                <li role="presentation"><a href="#tab-headers" aria-controls="profile" role="tab" data-toggle="tab">{% trans %}Headers{% endtrans %}</a></li>
                                <li role="presentation"><a href="#tab-spam-score" aria-controls="messages" role="tab" data-toggle="tab">{% trans %}Spam Score{% endtrans %}</a></li>
                            </ul>
                            <hr/>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab-email">
                                    <div id="modal-content-region"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-headers">
                                    <div id="modal-headers-region"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab-spam-score">
                                    <div id="spam-score-region"><h4 class="text-center">{% trans %}Coming Soon !{% endtrans %}</h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="email-content">
        <div class="email-content">
            <%= content %>
        </div>
    </script>
    <script type="text/html" id="email-headers">
        <div class="email-headers">
            <% _.each(headers, function(val, idx){ %>
                <p> <strong><%= idx %></strong><pre><%= val %></pre></code> </p>
            <% }); %>
        </div>
    </script>
{% endblock %}