{% extends "layout.html.twig" %}
    {% block preload_scripts %}
    {% endblock %}
{% block content %}
    <!-- Fixed navbar -->
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="page-header">
                        <h1>Swift 10 Minute Email <small>Disposable Email account</small></h1>
                    </div>
                    <p class="lead">
                        This free service will provide you with disposable email address for short time, you are able to receive
                        email in your temporary email inbox (UNLIMITED), your able to read the email as you would in your real mailbox !
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <h3 class="page-header">Our Services..</h3>
        </div>
        <div class="col-md-4">
            <div class="product-box">
                <h3 class="page-header">Swift 10 Minute Email</h3>
                <p>
                    Swift send is service which allow you to use your disposable email and also send emails trough it! this service is 100% free and allow you to send unlimited amount of emails            </p>
                <button type="button" class="btn btn-danger btn-lg">Use SwiftMail FREE</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-box">
                <h3 class="page-header">SwiftSend</h3>
                <p>
                    Swift send is service which allow you to use your disposable email and also send emails trough it! this service is 100% free and allow you to send unlimited amount of emails
                </p>
                <button type="button" class="btn btn-danger btn-lg">Use SwiftSend FREE</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-box">
                <h3 class="page-header">SwiftInbox</h3>
                <p>
                    Swift send is service which allow you to use your disposable email and also send emails trough it! this service is 100% free and allow you to send unlimited amount of emails
                </p>
                <button type="button" class="btn btn-danger btn-lg">Use SwiftInbox FREE</button>
            </div>
        </div>
    </div>


{% endblock %}
