{% extends "layout.html.twig" %}
{% block content %}
    <!-- Fixed navbar -->
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Swift 10 Minute Email</h1>
        </div>
        <p class="lead">
            This free service will provide you with free email address for short time, you are able to receive
            email and see its content and more
        </p>

        <div class="page-header text-center">
            <h2>
                <strong>teG334g4@swift10minuteemail.com</strong>
            </h2>
        </div>
        <div class="lead">
        <table class="table table-bordered table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>From</th>
                <th>Subject</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
