<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="free temp mail, free email, temporary email address, anonymous mail service">
    <meta name="description" content="swift 10 minute emails is unique web developer tool that provide you with free temporary email address for short amount of time for testing and registering to services and applications">
    <meta name="msvalidate.01" content="DA4E38FB50F37F86F30AE446288CCAB8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swift 10 Minute Email - free email temporary for everyone</title>
    <link rel="stylesheet" href="/media/compiled/style.min.css"/>
    <script>
        var Server = {};
        Server.Visitor = {{ visitor.asJSON() | raw }};
        Server.streamerHost = 'http://swift10minutemail.com:8080';
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60095607-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div id="modal-region"></div>
{% block bg_image %}
{% endblock %}
{% block header %}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Swift 10 Minute Email</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href=headers-btn"#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Swift 10 Minute Email</a></li>
                            <li><a href="#">Color Picker</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Advisers</li>
                            <li><a href="#">Ads</a></li>
                            <li><a href="#">Ads</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}
{% block content %} {% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Swift 10 Minute Email - All Rights Reserved </p>
        </div>
    </footer>
{% endblock %}
{% block templates %} {% endblock %}
{% block scripts %}
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script src="/media/js/build/main.min.js"></script>
{% endblock %}
</body>
</html>