<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{% trans %}Homepage Meta - Keywords{% endtrans %}">
    <meta name="description" content="{% trans %}Homepage Meta - Description{% endtrans %}">
    <meta name="msvalidate.01" content="DA4E38FB50F37F86F30AE446288CCAB8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans %}Swift 10 Minute Mail - Free Disposable Email Account{% endtrans %}</title>
    <link rel="stylesheet" href="/media/compiled/style.min.css"/>
    {#<link rel="alternate" href="http://swift10minutemail.com" hreflang="de" />#}
    {% block preload_scripts %}
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60095607-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<div id="modal-region"></div>
{% block bg_image %}
{% endblock %}
{% block header %}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{% trans %}Swift 10 Minute Mail{% endtrans %}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if page == 'home' %}class="active"{% endif %}><a href="{% if lang != "en" %}/{{ lang }}{% else %}/{% endif %}">{% trans %}Home{% endtrans %}</a></li>
                    <li {% if page == 'about' %}class="active"{% endif %} ><a href="{% if lang != "en" %}/{{ lang }}/about{% else %}/about{% endif %}">{% trans %}About{% endtrans %}</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans %}Language{% endtrans %} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/">{% trans %}English{% endtrans %}</a></li>
                            <li><a href="/de">{% trans %}German{% endtrans %}</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">{% trans %}Advisers{% endtrans %}</li>
                            <li><a href="#">Ads</a></li>
                            <li><a href="#">Ads</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}
{% block content %} {% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">{% trans %}Swift 10 Minute Mail - Disposable Email Service, All Rights Reserved {% endtrans %}</p>
        </div>
    </footer>
{% endblock %}
{% block templates %} {% endblock %}
{% block scripts %}
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script src="/media/js/build/main.min.js"></script>
{% endblock %}
</body>
</html>